<div class="container containerList">
	<li>
		<div class="box48">
			<div class="framed">
				<img src="https://wcf.evil-gaming.eu/images/avatars/avatar-default.svg" style="width: 48px; height: 48px" class="userAvatarImage">
			</div>
			<div>
				<div class="containerHeadline">
					<h3>Florian Bruder</h3> 
					<p><strong>Management</strong></p>
					<small class="staffName"><a href="https://www.evil-gaming.eu/user/118-Bunte-knete/" class="userLink" data-user-id="118">Bunte Knete</a></small>
				</div>
				<small>
					Management
				</small>
			</div>
		</div>
	</li>
</div>