<div class="container containerList">
	<li>
		<div class="box48">
			<div class="framed">
				<img src="https://wcf.evil-gaming.eu/images/avatars/avatar-default.svg" style="width: 48px; height: 48px" class="userAvatarImage">
			</div>
			<div>
				<div class="containerHeadline">
					<h3>Thomas Mayer</h3> 
					<p><strong>Director </strong></p>
					<small class="staffName"><a href="https://www.evil-gaming.eu/user/86-thomas/" class="userLink" data-user-id="86">Krankenkasse</a></small>
				</div>
				<small>
					Marketing
				</small>
			</div>
		</div>
	</li>
</div>