<div class="container containerList">
	<li>
		<div class="box48">
			<div class="framed">
				<img src="https://wcf.evil-gaming.eu/images/avatars/avatar-default.svg" style="width: 48px; height: 48px" class="userAvatarImage">
			</div>
			<div>
				<div class="containerHeadline">
					<h3>Norman Kühnberger</h3> 
					<p><strong>Project Management </strong></p>
					<small class="staffName"><a href="https://www.evil-gaming.eu/user/126-norm/ class="userLink" data-user-id="126">Norm</a></small>
				</div>
				<small>
					<a href="https://www.ulife-rp.de/" >uLife Roleplay</a>
				</small>
			</div>
		</div>
	</li>
</div>