<div class="container containerList">
	<li>
		<div class="box48">
			<div class="framed">
				<img src="https://wcf.evil-gaming.eu/images/avatars/avatar-default.svg" style="width: 48px; height: 48px" class="userAvatarImage">
			</div>
			<div>
				<div class="containerHeadline">
					<h3>Christian Wurtinger</h3> 
					<p><strong>Community Management</strong></p>
					<small class="staffName"><a href="https://www.evil-gaming.eu/user/390-s-w-a-t/" class="userLink" data-user-id="390">S.W.A.T.</a></small>
				</div>
				<small>
					Counter Strike: Global Offensive
				</small>
			</div>
		</div>
	</li>
</div>