<div class="additionalFooterWrapper containerPadding">
	<ul class="additionalFooter marginTop clearfix">
		<li>
			<ul>
				<li><h1>Informationen</h1></li>
				<li><a href="https://www.evil-gaming.eu/page/impressum/">Impressum</a></li>
				<li><a href="https://www.evil-gaming.eu/page/impressum/#cmscontent94">Nutzungsbestimmungen</a></li>
				<li><a href="https://www.evil-gaming.eu/page/impressum/#cmscontent95">Datenschutzerklärung</a></li>
				
			</ul>
		</li>
		<li>
			<ul>
				<li><h1>Über</h1></li>
				<li><a href="https://www.evil-gaming.eu/page/about/">Über uns!</a></li>
				<li><a href="https://www.evil-gaming.eu/page/about/rules/">Clan-Regeln</a></li>
				<li><a href="https://www.evil-gaming.eu/page/Staff">Staff</a></li>
				<!--<li><a href="https://www.evil-gaming.eu/about/avatare">Avatare</a></li> -->
			</ul>
		</li>
		<li>
			<ul>
				<li><h1>Teams</h1></li>
				<li><a href="https://www.evil-gaming.eu/page/teams/csgo/">Counter-Strike: Global Offensive</a></li>
				<li><a href="https://www.evil-gaming.eu/page/teams/lol/"> League of Legends</a></li>
				<li><a href="https://teams.evil-gaming.eu/community-teams/?id=9"> Community Teams</a></li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul>
				<li><h1>Community</h1></li>
				<li><a href="https://forum.evil-gaming.eu/">Forum</a></li>
				<li><a href="https://media.evil-gaming.eu/">Mediathek</a></li>
				<li><a href="https://Blog.evil-gaming.eu/">Blog</a></li>
				<li><a href="https://www.evil-gaming.eu/community-mitglieder/">Community Mitglieder</a></li>
			</ul>
			<li>
			<ul>
				<li><h1>Sonstiges</h1></li>
				<li><a href="https://files.evil-gaming.eu/">Filebase</a></li>
				<li><a href="https://support.evil-gaming.eu/"> Ticketsystem</a></li>
				<li><a href="https://www.evil-gaming.eu/mitglieder-suche/"> Mitgliedersuche</a></li>
				<li><a href="https://www.evil-gaming.eu/mitglieder/"> Registrierte Benutzer</a></li>
				<li></li>
			</ul>
		</li>
	</ul>
</div>