<aside class="sidebarMenu">
	{* include file='mainMenu' *}
	<nav id="mainMenu" class="mainMenu customSidebarContent sidebarSlidemenu">
		<ul>
			<li class="{if $page|isset && $page->pageID == 1}active{/if}">
				<a href="https://www.evil-gaming.eu/">
					<span class="menuIcon"></span>
					<span class="menuDescription">Home</span>
				</a>
			</li>
			<li class="{if $news|isset || $templateName == 'newsOverview' || $templateName == 'newsAdd' || $templateName == 'newsArchive' || $templateName == 'newsList' || $templateName == 'newsListing'}active{/if}">
				<a href="https://www.evil-gaming.eu/news-overview/"> 
					<span class="menuIcon"></span>
					<span class="menuDescription">News</span>				
				</a>
			</li>
			 <li class="{if $page|isset && $page->pageID == 6}active{/if}">
				<a href="https://www.evil-gaming.eu/page/about/"> 
					<span class="menuIcon"></span>
					<span class="menuDescription">Über uns</span>				
				</a>
			</li>
			 <li class="{if $page|isset && $page->pageID == 10}active{/if}">
				<a href="https://www.evil-gaming.eu/page/teams"> 
					<span class="menuIcon"></span>
					<span class="menuDescription">Teams</span>				
				</a>
			</li>
			<li class="sidebarDropdownMenu{if $page|isset && $page->pageID == 2 || $forum|isset || $templateName == 'boardList' || $entry|isset || $templateName == 'blog' || $templateName == 'entryList' || $templateName == 'galleryExtended' || $templateName == 'imageExtendedAdd' || $templateName == 'videoAdd' || $templateName == 'videoList' || $templateName == 'imageExtendedList' || $templateName == 'video' || $templateName == 'categoryList' || $templateName == 'index' || $templateName == 'ticketAdd' || $templateName == 'ticket' || $templateName == 'answerAdd' || $templateName == 'team' || $templateName == 'userSearch' || $templateName == 'membersList'} active{/if}">
				<a class="sidebarDropdownMenuLink" href="https://www.evil-gaming.eu/page/community">
					<span class="menuIcon"></span>
					<span class="menuDescription">Community</span>				
				</a>
				<div class="sidebarDropdownMenuBase mainMenu" style="display: none;">
					<ul>
						<li class="{if $page|isset && $page->pageID == 2}active{/if}"><a href="https://www.evil-gaming.eu/page/community/">Dashboard</a></li>
						<li class="{if $forum|isset || $templateName == 'boardList'}active{/if}"><a href="https://forum.evil-gaming.eu/">Forum</a></li>
						<li class="{if $entry|isset || $templateName == 'blog' || $templateName == 'entryList'}active{/if}"><a href="https://blog.evil-gaming.eu/">Blog</a></li>
						<li class="{if $templateName == 'galleryExtended' || $templateName == 'imageExtendedAdd' || $templateName == 'videoAdd' || $templateName == 'videoList' || $templateName == 'imageExtendedList' || $templateName == 'video'}active{/if}"><a href="https://media.evil-gaming.eu/gallery-extended/">Mediathek</a></li>
						<li class="{if $templateName == 'categoryList'}active{/if}"><a href="https://files.evil-gaming.eu/">Filebase</a></li>
						<li class="{if $templateName == 'index' || $templateName == 'ticketAdd' || $templateName == 'ticket' || $templateName == 'answerAdd'}active{/if}"><a href="https://support.evil-gaming.eu/">Ticketsystem</a></li>
						<li class="{if $templateName == 'team'}active{/if}"><a href="https://www.evil-gaming.eu/community-mitglieder/">Community-Member</a></li>
						<li class="{if $templateName == 'userSearch'}active{/if}"><a href="https://www.evil-gaming.eu/mitglieder-suche/">Mitgliedersuche</a></li>
						<li class="{if $templateName == 'membersList'}active{/if}"><a href="https://www.evil-gaming.eu/mitglieder/">Benutzer</a></li>
					</ul>
				</div>	
			</li>
		</ul>
	</nav>
	<script data-relocate="true">
	//<![CDATA[
	$(function() {
		$('li.sidebarDropdownMenu').each(function() {
			var $sidebarDropdownMenu = $(this);
			$("a.sidebarDropdownMenuLink", $sidebarDropdownMenu).click(function(e) {
				e.preventDefault();
				$div = $("div.sidebarDropdownMenuBase", $sidebarDropdownMenu);
				$div.toggle("fast");
				$("div.sidebarDropdownMenuBase").not($div).hide("fast");
				return false;
			});
		});
		$('html').click(function(){
			$("div.sidebarDropdownMenuBase").hide("fast");
		});
	});
	//]]>
	</script>
</aside>